button {
    padding: inherit;
    background-color: #ffffff;
    border: none;
    cursor: grabbing;
    position: inherit;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: auto;
}

input {
    width: 3rem;
    text-align: center;
    margin: auto;
}

th,
td {
    border: 1px;
    width: 150px;
    padding: 20px;
    margin: 20px;
}

input {
    width: 3rem;
    text-align: center;
    margin: auto;
}

button {
    padding: inherit;
    background-color: #ffffff;
    border: none;
    cursor: grabbing;
    position: inherit;
}

img {
    height: inherit;
    width: inherit;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: auto;
}